.services{
  &__item {
    width: 280px;
    margin: 10px;
  }
  &__heading {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #2C3036;
    margin: 19px 0 20px;
    width: 70%;
  }
}