
/* BANNER */
.banner {
  /* background: url(../img/fon.jpg) no-repeat center #e0e7ed; */
  background-image: url(../../static/images/fon.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #e0e7ed;
  /* background-size: cover; */
  padding: 143px 0 286px;
  margin-bottom: 80px;
}

.banner-title {
  font-weight: 900;
  font-size: 90px;
  line-height: 100%;
  color: #00559D;
  // color:#2C3036;
  margin: 0;
  margin-bottom: 49px;
  width: 80%;
  letter-spacing: -1px;
}

/* services */

.services {
  margin-bottom: 110px;
  &__title {
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    text-transform: uppercase;
    color: #00559D;
    text-align: center;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
  }
}


/* ABOUT */

.about {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 186px;
  position: relative;
}

.about:after {
  content: '';
  display: block;
  position: absolute;
  top: 50px;
  right: -90px;
  width: 570px;
  height: 499px;
  background: #008752;
}

.about-title {
  font-weight: 900;
  font-size: 72px;
  line-height: 100%;
  color: #005DAB;
  margin: 0 0 46px;
}

.about-wrapper {
  max-width: 480px;
}

.about-img {
  z-index: 1;
}

/* AWARDS */

.awards {
  margin-bottom: 80px;
}

.awards-list {
  display: flex;
  justify-content: space-between;
}

/* popup */

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(149, 69, 154, 0.9);
  bottom: 0;
  z-index: 2;
  display: none;
  /* display: flex; */
  align-items: center;
  justify-content: center;
}

.popup-open {
  display: flex;
}

.popup-form {
  width: 680px;
  background: #EEEEEE;
  padding: 50px;
  position: relative;
/* 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%); */
}

.popup-close {
  border: none;
  background: transparent;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
