<header class="header container">
    <a href="/">
        <img src="img/logo.png" alt="">
    </a>
    <nav class="header__menu">
        <ul class="undotted header__list">
            <li>
                <a href="#" class="header__link">Catalog</a>
            </li>
            <li>
                <a href="#">Servises</a>
            </li>
            <li>
                <a href="#">Blog</a>
            </li>
            <li>
                <a href="#">About us</a>
            </li>
        </ul>
    </nav>
    <a href="tel:7194319698" class="header__phone">719-431-9698</a>
    <a href="contact.html" class="button">Contact Us</a>

    <div class="humburger">
        <svg width="24" height="16" viewBox="0 0 24 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 16H24V13.3333H0V16ZM0 9.33333H24V6.66667H0V9.33333ZM0 0V2.66667H24V0H0Z" fill="#95459A"/>
        </svg>            
    </div>
    
</header>

<div class="mobile-header">

    <div class="mobile-header__wrapper">
        <a href="/">
            <img src="img/logo.png" alt="">
        </a>
        <nav class="mobile-header__menu">
            <ul class="undotted mobile-header__list">
                <li>
                    <a href="#" class="mobile-header__link">Catalog</a>
                </li>
                <li>
                    <a href="#"  class="mobile-header__link">Servises</a>
                </li>
                <li>
                    <a href="#"  class="mobile-header__link">Blog</a>
                </li>
                <li>
                    <a href="#"  class="mobile-header__link">About us</a>
                </li>
            </ul>
        </nav>
        <a href="tel:7194319698" class="mobile-header__phone">719-431-9698</a>
        <a href="contact.html" class="button">Contact Us</a>
    </div>

    <div class="mobile-header__close">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M19.3334 2.54663L17.4534 0.666626L10.0001 8.11996L2.54675 0.666626L0.666748 2.54663L8.12008 9.99996L0.666748 17.4533L2.54675 19.3333L10.0001 11.88L17.4534 19.3333L19.3334 17.4533L11.8801 9.99996L19.3334 2.54663Z" fill="white"/>
            </svg>
            
    </div>

</div>