.header {
  display: flex;
  align-items: center;
  margin-top: 33px;
  margin-bottom: 33px;
  gap: 20px;
  &__menu {
    margin: 0 auto 0 25px;
    a {
      color: #333333;
      margin-right: 30px;
    }
  }
  &__list {
    display: flex;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
  }
}