.header {
  display: flex;
  align-items: center;
  margin-top: 33px;
  margin-bottom: 33px;
  -moz-gap: 20px;
      -webkit-gap: 20px;
          gap: 20px;
}

.header-menu {
  margin: 0 auto 0 25px;
}

.header-list {
  display: flex;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
}

.header-menu a {
  color: #333333;
  margin-right: 30px;
}