<header class="header container">
  <a href="/">
    <img src="../../static/images/logo.png" alt="">
  </a>
  <nav class="header__menu">
    <ul class="undotted header__list">
      <li>
        <a href="#" class="header__link">Catalog</a>
      </li>
      <li>
        <a href="#">Servises</a>
      </li>
      <li>
        <a href="#">Blog</a>
      </li>
      <li>
        <a href="#">About us</a>
      </li>
    </ul>
  </nav>
  <a href="tel:7194319698" class="header__phone">719-431-9698</a>
  <a href="pages/contact" class="button">Contact Us</a>
  
</header>