<footer class="footer">
  <div class="container footer-wrapper">
    <p>Subscribe to our social networks</p>
    <ul class="undotted footer-social">
      <li>
        <a href="#">
          <img src="static/images/fb.svg" alt="">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="static/images/fb.svg" alt="">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="static/images/fb.svg" alt="">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="static/images/fb.svg" alt="">
        </a>
      </li>
    </ul>
  </div>
  
</footer>