
.map {
    position: relative;
    overflow: hidden;
}

.map .container {
    padding: 40px 0 133px;
}

.map-wrapper {
    position: relative;
    z-index: 1;
    width: 380px;
    background: $primary;
    color: #fff;
    padding: 50px 44px 26px;
}


.map-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}