<article class="map">
    <div class="container">
        <div class="map-wrapper">
            <h2>Chem-Dry</h2>
            <p>9420 Cedar CT, Thornton, CO 80229</p>
            <a href="tel:7206059399 ">(720) 605-9399</a>
            @@include('button/index.html', {
                "link": "#",
                "text": "Learn More",
                "class": "button-secondary"
              })
        </div>
        
    </div>
    <iframe class="map-img" src="https://yandex.ru/map-widget/v1/?um=constructor%3Aa953bae8a6f83291a3332f9731245fc22938a6763b52bade7649692188d76eaf&amp;source=constructor" width="100%" height="397" frameborder="0"></iframe>
</article>